extends ../layouts/Main

block content
    div(ng-view) Loading...

block scripts
    script(src="../main/IndexController.js")
    script(src="../main/IndexService.js")
    script(src="../typearea/TypeareaController.js")
    script(src="../typearea/TypeareaService.js")